body {
    font-family: Roboto, sans-serif;
    color: #434455;
    background-color: #fff;
}
ul,ol {
    list-style-type: none;
    margin: 0;
    padding: 0;
}
a {
    text-decoration: none;
}
p, h1, h2, h3 {
    margin: 0;
}
button {
    cursor: pointer;
}
img {
    display: block;
    max-width: 100%;
    height: auto;
}
.section {
    padding: 120px 0;
}
.page-header {
    border-bottom: 1px solid #e7e9fc;
    
}
.container {
    width: 1158px;
    padding: 0 15px;
    margin: 0 auto;
}
.header-container {
    display: flex;
    align-items: center;
}
.menu-nav {
display: flex;
align-items: center;
}
.menu {
    display: flex;
    gap: 40px;
}
.menu-link {
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #2e2f42;
    padding: 24px 0;
    display: block;
}

.menu-link:hover,
.menu-link:focus {
    color: #404bbf;
}
.logo {
    font-family: "Raleway", sans-serif;
    font-size: 18px;
    font-weight: 700;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #4d5ae5;
    margin-right: 76px;
}
.logo-part {
    color: #2e2f42;
}

.contact-list {
    display: flex;
    gap: 40px;
}
.contact-list-link {
    font-family: "Roboto", sans-serif;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
    padding: 24px 0;
    display: block;
}

.contact-page {
    font-style: normal;
    display: flex;
    margin-left: auto;
}
.contact-list-link:hover,
.contact-list-link:focus {
    color: #404bbf;
}
.hero {
    background-color: #2e2f42;
    padding: 188px 0;
}
.main-title {
    font-family: "Roboto", sans-serif;
    line-height: 1.07;
    font-weight: 700;
    font-size: 56px;
    letter-spacing: 0.02em;
    text-align: center;
    color: #fff;
    max-width: 496px;
    margin-right: auto;
    margin-left: auto;
    margin-bottom: 48px;
    margin-top: 0;
}
.order-serv-btn {
    color: #fff;
    background: #4d5ae5;
    border-radius: 4px;
    padding: 16px 32px;
    min-width: 169px;
    height: 56px;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    border: none;
    display: block;
    margin: 0 auto;
    
}
.order-serv-btn:hover,
.order-serv-btn:focus {
    background-color: #404bbf;
}
.visually-hidden {
position: absolute;
width: 1px;
height: 1px;
margin: -1px;
border: 0;
padding: 0;
white-space: nowrap;
clip-path: inset(100%);
clip: rect(0 0 0 0 );
overflow: hidden;
}
.features-list {
    display: flex;
    gap: 24px;
}
.features-list-title {
font-family: "Roboto", sans-serif;
font-weight: 500;
font-size: 20px;
line-height: 1.2;
letter-spacing: 0.02em;
color: #2e2f42;
margin-bottom: 8px;
}
.features-list-item {
    width: calc((100% - 72px) / 4);
}
.features-list-text {
    font-family: "Roboto", sans-serif;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
    margin-top: 0;
}
.team {
    background-color: #F4F4FD;
}
.team-list-item {
    background-color: #FFFFFF
}
.section-team-title {
    font-family: "Roboto", sans-serif;
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    text-align: center;
    color: #2e2f42;
    margin-bottom: 72px;
     }
.team-list-title {
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    text-align: center;
    color: #2e2f42;
    margin-bottom: 8px;
}
.team-list {
    display: flex;
    gap: 24px;
}
.empl {
    padding: 32px 0;
}
.team-list-item {
    width: calc((100%-72px) / 4);
    border-radius: 0 0 4px 4px;
}
  .team-list-text {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    text-align: center;
    color: #434455;
  }
   .section-portfolio-title {
    font-family: "Roboto", sans-serif;
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    text-align: center;
    color: #2e2f42;
    margin-bottom: 72px;
   }
  .portfolio-list {
    display: flex;
    flex-wrap: wrap;
    row-gap: 48px;
    column-gap: 24px;
  }
  .portfolio-list-item {
    width: calc((100% - 48px) / 3);
    border-bottom: 1px solid #e7e9fc;
    border-left: 1px solid #e7e9fc;
    border-right: 1px solid #e7e9fc;

  }
 .portfolio-container {
    padding: 32px 16px;
    border: 1px solid #e7e9fc;
    border-top: none;
 }
  .portfolio-list-title {
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2e2f42;
    margin-bottom: 8px;
  }
  .portfolio-list-text {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
}
  .footer-page {
    background-color: #2e2f42;
    color: #fff;
    padding: 100px 0;
  }
  .logo-footer {
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #4d5ae5;
    display: inline-block;
    margin-bottom: 16px;
  }
  .logo-footer-part {
    color: #f4f4fd;
  }
  .footer-text {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #f4f4fd;
    max-width: 264px;

}